[Unit]
Description=Dynamic color temperature manager for Wayland
Documentation=https://gitlab.com/chinstrap/gammastep
BindsTo=sway-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/env gammastep
Restart=always

[Install]
WantedBy=sway-session.target
