[Unit]
Description=Lock the screen
Before=sleep.target

[Service]
Type=forking
ExecStartPre=/usr/bin/ssh-add -D
ExecStart=/usr/bin/env swaylock

[Install]
WantedBy=sleep.target
