[Unit]
Description=Scream service
Documentation=https://github.com/duncanthrax/scream
BindsTo=sway-session.target

[Service]
ExecStart=/usr/local/bin/scream

[Install]
WantedBy=sway-session.target
