[Unit]
Description=Swayidle sleep daemon

[Service]
ExecStart=/usr/bin/swayidle \
    timeout 2700 systemctl suspend \
    before-sleep systemctl --user start lock

[Install]
WantedBy=default.target
