[Unit]
Description=Swayidle screen off daemon
BindsTo=sway-session.target

[Service]
ExecStart=/usr/bin/env swayidle \
    timeout 600 'swaymsg "output * power off"' \
    resume 'swaymsg "output * power on"'
Restart=always

[Install]
WantedBy=sway-session.target
