[Unit]
Description=Swayidle lock daemon
BindsTo=sway-session.target

[Service]
ExecStart=/usr/bin/env swayidle -w \
    timeout 660 "systemctl --user start lock" \
    before-sleep "loginctl lock-session" \
    lock "/usr/bin/ssh-add -D 2> /dev/null; /usr/bin/env swaylock"
Restart=always

[Install]
WantedBy=sway-session.target
