[Unit]
Description=Swayidle sleep daemon

[Service]
ExecStart=/usr/bin/env swayidle \
    timeout 2700 "systemctl suspend"
Restart=always

[Install]
WantedBy=default.target
