[Unit]
Description=Swayidle auto-lock daemon
BindsTo=sway-session.target

[Service]
ExecStart=/usr/bin/env swayidle -w \
    timeout 660 "loginctl lock-session" \
Restart=always

[Install]
WantedBy=sway-session.target
