[Unit]
Description=Highly customizable Wayland bar for Sway
Documentation=https://github.com/Alexays/Waybar
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env waybar
Restart=always

[Install]
WantedBy=sway-session.target
