window {
    background-color: transparent;
}

#input {
    border: none;
    background-color: #002129;
    border: solid 2px #00313D;
    margin-bottom: 10px;
    opacity: 0.9;
}

#scroll {
    background-color: #002129;
    border: solid 3px #00313D;
    opacity: 0.9;
}
